.vediodata {
  width: 100%;
  overflow-y: hidden;
  position: relative;
  height: calc(var(--vh, 1vh) * 100);
  video {
    height: 100%;
    width: 100%;
  }
  .skipbutton {
    position: absolute;
    bottom: 30px;
    right: 25px;
    cursor: pointer;
    h2 {
      font-size: 22px;
      font-style: italic;
      color: #ffd08b;
      font-weight: 700;
      padding: 0;
      margin: 0;
    }
  }
}

@media only screen and (max-width: 768px) {
  .vediodata {
    width: 100%;
    .skipbutton {
      bottom: 30px;
    }
  }
}
